h2 General Informations
md-card-content
	p
		strong Username :
		span {{ }} {{ profileParams.user.username }}
	p
		strong Registered on :
		span {{ }} {{ profileParams.user.registered_date | date : 'medium' : timezone }}
	p
		strong Email :
		span {{ }} {{ profileParams.user.email }}
		ng-md-icon(icon="info").user_profile_parameters_info_icon
			md-tooltip(md-direction="right").
				This is your primary email.
				To change it go into the "Emails" Tab.
h2 Personal Informations
md-card-content
	p
		strong First Name :
		editable-field(field="profileParams.user.first_name",
		 edition="profileParams.first_name_edition",
		 validation="profileParams.updateFieldUser(profileParams.user.first_name, 'first_name');")
	p
		strong Last Name :
		editable-field(field="profileParams.user.last_name",
		 edition="profileParams.last_name_edition",
		 validation="profileParams.updateFieldUser(profileParams.user.last_name, 'last_name');")
	p
		strong Birthdate :
		editable-field(field="profileParams.user.birthdate",
		 edition="profileParams.birthdate_edition",
		 validation="profileParams.updateFieldUser(profileParams.user.birthdate, 'birthdate');")
	p
		strong Phone :
		editable-field(field="profileParams.user.phone",
		 edition="profileParams.phone_edition",
		 validation="profileParams.updateFieldUser(profileParams.user.phone, 'phone');")
h2 Addresses
md-card-content.user_profile_parameters_addresses
	md-card
		md-toolbar
			div.md-toolbar-tools
				span Living Addresses (0 / 5)
				span.flex
				ng-md-icon(icon="add").user_profile_parameters_add_address_icon
					md-tooltip(md-direction="bottom").
						Add an address
			md-content
				md-list
					md-list-item
						span.user_profile_parameters_no_address No given living address