section(layout="row", layout-align="start start" layout-margin)
	div(flex="none").user_profile_parameters_menu
		md-card
			md-list
				md-list-item(ng-click="").md-1-line
					h3 Informations
				md-divider
				md-list-item(ng-click="").md-1-line
					h3 Emails
				md-divider
				md-list-item(ng-click="").md-1-line
					h3 Change Password
	md-card(flex).user_profile_parameters_content
		h2 General Informations
		md-card-content
			p
				strong Username :
				span {{ }} {{ profileParams.user.username }}
			p
				strong Registered on :
				span {{ }} {{ profileParams.user.registered_date | date : 'medium' : timezone }}
			p
				strong Email :
				span {{ }} {{ profileParams.user.email }}
		h2 Personal Informations
		md-card-content
			p
				strong(ng-click="profileParams.updateFieldUser();") First Name :
				editable-field(field="profileParams.user.first_name",
				 edition="profileParams.first_name_edition",
				 validation="profileParams.updateFieldUser(profileParams.user.first_name, 'first_name');")
			p
				strong Last Name :
				editable-field(field="profileParams.user.last_name",
				 edition="profileParams.last_name_edition",
				 validation="profileParams.updateFieldUser(profileParams.user.last_name, 'last_name');")
			p
				strong Birthdate :
				editable-field(field="profileParams.user.birthdate",
				 edition="profileParams.birthdate_edition",
				 validation="profileParams.updateFieldUser(profileParams.user.birthdate, 'birthdate');")
			