
div(class="article-show")
  div(layout='row' layout-align='center')
    img(src="{{articleShow.url_thumbnail}}")
    div(layout='column')
      h1 {{articleShow.title}}
      div(layout='row')
        md-card(class='about')
          md-card-content
            //md-subheader.md-no-sticky About the clothe
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Main Category
                p {{articleShow.BaseCategory }}
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Gender
                p {{articleShow.sexe}}

            md-divider
              md-list-item.md-2-line
                ng-md-icon(icon="color_lens")
                div.md-list-item-text
                  h3 Color
                  p {{articleShow.color }}

            md-divider
              md-list-item.md-2-line
                ng-md-icon(icon="help")
                div.md-list-item-text
                  h3 Brand
                  p {{articleShow.brand }}

        md-card(class='about about-margin')
          md-card-content
            //md-subheader.md-no-sticky About the clothe
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 SubCategory
                p {{articleShow.SubCategory}}
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Size
                p {{articleShow.size }}
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 State
                p {{articleShow.state }}
            md-divider
        md-card(class='about')
          md-card-content
            //md-subheader.md-no-sticky About the clothe
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Article created
                p {{articleShow.date_created}}
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Start availbility
                p {{articleShow.start_availble }}
            md-divider
              md-list-item.md-2-line
                ng-md-icon(icon="color_lens")
                div.md-list-item-text
                  h3 Price
                  p {{articleShow.price }}

            md-divider


        md-card(class='about')
          md-card-content
            //md-subheader.md-no-sticky About the clothe
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Article modified
                p {{articleShow.date_modified}}
            md-divider

            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 End availbility
                p {{articleShow.end_availble}}
            md-divider
            md-list-item.md-2-line
              ng-md-icon(icon="person_outline")
              div.md-list-item-text
                h3 Meaning payment
                span(ng-repeat='payment in articleShow.meaning_payment') {{payment}}
            md-divider

  div(layout='column')
    div(layout='row' layout-align='center center' flex="50" style='margin-top: 10px;')
      md-datepicker(ng-model='dateStart', md-placeholder='Enter date', md-min-date='minDate',
      md-max-date='maxDate')
      md-datepicker(ng-model='dateEnd', md-placeholder='Enter date', md-min-date='minDate',
      md-max-date='maxDate')
      md-button.md-raised(style='text-align:center;' flex="30") Rent this article

  div(layout='row' layout-align='center')
    div(flex="50")
      md-grid-list(md-cols-xs='1', md-cols-sm='2', md-cols-md='2', md-cols-gt-md='3',
      md-row-height-gt-md='1:1', md-row-height='1:1', md-gutter='12px', md-gutter-gt-sm='8px')
        md-grid-tile(ng-repeat="tile in articleShow.obj_url_pictures track by $index"
        md-rowspan="{{tile.row}}" md-colspan="{{tile.col}}" md-colspan-sm="1"
        style='background:url("{{tile.url}}"); background-size: cover; cursor:pointer;'
        ng-click="articleShow.clickImageGallery($event, $index, articleShow.url_pictures)")
          //md-grid-tile-footer
            h3 {{tile.title}}



  div(layout='row' layout-align='center')
    md-card(flex="50")
      md-card-content.description {{articleShow.description}}


  md-content()
    md-list
      md-subheader.md-no-sticky
      md-list-item.md-3-line( ng-repeat='parentComment in articleShow.comments track by $index' layout-align='center')
        img.md-avatar( ng-src='http://localhost:3000/assets/images/users/profile_picture/unknown-user.png', alt='{{parentComment.username_author}}')
        .md-list-item-text( layout='column')
          h3 {{ parentComment.username_author}}
          h4 {{ parentComment.date_created }}
          p {{ parentComment.content }}
          p
            a(href='#' ng-click='articleShow.replyComment[$index] = !articleShow.replyComment[$index]') reply
            a(href='#' ng-if="parentComment.childs.length" ng-hide='articleShow.showChildComment[$index]' ng-click="articleShow.showChildComment[$index] = !articleShow.showChildComment[$index]")  Show more
            a(href='#' ng-if="parentComment.childs.length" ng-show='articleShow.showChildComment[$index]' ng-click="articleShow.showChildComment[$index] = !articleShow.showChildComment[$index]")  Show less

          md-input-container.md-block(ng-show='articleShow.replyComment[$index]')
            label Write a new comment
            textarea(ng-model='articleShow.childNewComment.$index' input-comment="articleShow.submitComment(articleShow.parentNewComment)")

          md-list-item.md-3-line(ng-repeat='childComment in parentComment.childs' ng-show='articleShow.showChildComment[$index]')
            img.md-avatar(ng-src='http://localhost:3000/assets/images/users/profile_picture/unknown-user.png', alt='{{parentComment.username_author}}')
            .md-list-item-text(layout='column')
              h3 {{ parentComment.username_author}}
              h4 {{ parentComment.date_created }}
              p {{ parentComment.content }}
            md-divider

        md-divider
    md-input-container.md-block
      label Write a new comment
      textarea(ng-model='articleShow.parentNewComment' input-comment="articleShow.submitComment(articleShow.parentNewComment)")

