div.article-show(layout="row" layout-align="center")
  div(flex-xs="100" flex-sm="100" flex-md="75" flex="50")

    div(layout="row" layout-align="center")
      div
        h1 {{articleShow.article.title}}
        br
        div.subtitle(layout="row")
          h2 By <a href="/profile/{{articleShow.article.username_author}}/"> {{articleShow.article.username_author}} </a>
          span(ng-repeat='star in articleShow.global_mark_array track by $index')
            ng-md-icon(ng-if="star" icon="star" size="22")
            ng-md-icon(ng-if="!star" icon="star" size="22" style="fill:grey")
          span ({{articleShow.nb_mark}})



    div(layout="row" layout-align="center")
      data-owl-carousel.owl-carousel.owl-theme(flex="50" flex-xs="100" data-options="{nav: true," +
      " " +
      "autoplay:true," +
      " " +
      "autoplayTimeout:5000, loop:true, items: 1, " +
      "lazyLoad:true, autoWidth:false}")
        .item(owl-carousel-item='', ng-repeat='url_picture in articleShow.carousel track by $index')
          img(ng-src="{{url_picture}}")


    div.my-layout-xs(layout="row")
      md-card(flex="50" flex-xs="100")
        md-card-content

          div.block-properties(layout="row")
            div.name-properties(flex="50") Price
            div.t-right(flex="50") {{articleShow.article.price}}$/day
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Payment
            div.t-right(flex="50")
              span(ng-repeat="payment in articleShow.name_payment_methods track by $index") {{$first ? '' : ', '}} {{payment}}

          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Within
            div.t-right(flex="50") {{articleShow.within}} km
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Main Category
            div.t-right(flex="50") {{articleShow.name_category}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Sub Category
            div.t-right(flex="50") {{articleShow.name_subCategory}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Gender
            div.t-right(flex="50") {{articleShow.name_gender}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Size
            div.t-right(flex="50") {{articleShow.name_size}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Color
            div.t-right(flex="50") {{articleShow.name_clothe_colors}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") State
            div.t-right(flex="50") {{articleShow.name_clothe_states}}
          md-divider
          div.block-properties(layout="row")
            div.name-properties(flex="50") Brand
            div.t-right(flex="50") {{articleShow.name_brand}}
          md-divider


      md-card.reservation(flex="50" flex-xs="100")
        md-card-content(flex="flex" layout-fill)

          div.date(layout="column" layout-align="start" ng-if="!articleShow.articleNotAvailable && !articleShow.ownArticle")
            md-datepicker( ng-model="articleShow.AskBeginLocation"
            md-placeholder="Begin location"  md-min-date="articleShow.dateStart" md-max-date="articleShow.dateEnd")
            md-datepicker(ng-model="articleShow.AskEndLocation" md-placeholder="End location" md-min-date="articleShow.AskBeginLocation" md-max-date="articleShow.dateEnd")
            //md-button.md-raised Ask for rent

          div.rent(layout="column" flex="flex" layout-align="start" ng-click="articleShow.askForRent()" ng-if="!articleShow.articleNotAvailable && !articleShow.ownArticle")
            md-button.md-raised Ask for rent

          div(layout="row" layout-align="center center" ng-if="articleShow.articleNotAvailable || articleShow.ownArticle")
            div(class="article-not-available" ng-if="!articleShow.ownArticle").flex This article is not available at this moment.
            div(class="article-not-available" ng-if="articleShow.ownArticle").flex You can't book your own article.

          div.favorite-share(layout="column" flex="flex" layout-align="end" )
            div.details
              span
                a(href='#')
                  ng-md-icon(icon="favorite_border" ng-hide='articleShow.is_in_favorite' ng-click="articleShow.addArticleToFavorite(articleShow.article._id)")
                  ng-md-icon(icon="favorite" ng-hide='!articleShow.is_in_favorite' ng-click="articleShow.deleteArticleFavorite (articleShow.article._id)")
                  span(ng-hide='articleShow.is_in_favorite' ng-click="articleShow.addArticleToFavorite(articleShow.article._id)").bottom-right-md-card Add to your favorites
                  span(ng-hide='!articleShow.is_in_favorite' ng-click="articleShow.deleteArticleFavorite (articleShow.article._id)").bottom-right-md-card Delete from your favorites
            div.details
              span
                ng-md-icon(icon="share")
                span.bottom-right-md-card Share it
                span
                  ng-md-icon(icon="facebook"
                  href="#" socialshare socialshare-provider="facebook"
                  socialshare-url="http://localhost:3000/article/572c5c64fbbe6158bf447728"
                  socialshare-text="LocsApp" socialshare-description="description"
                  socialshare-media="http://127.0.0.1:8000/media/articles/c6a1d210906944e294a81519cd67e6f0"
                  socialshare-type="feed" socialshare-via="1011661268854723"
                  socialshare-display="popup")
                  ng-md-icon(icon="twitter" href="#" socialshare socialshare-provider="twitter"
                  socialshare-url="http://localhost:3000/article/572c5c64fbbe6158bf447728"
                  socialshare-text="Look what I found on LocsApp"
                  socialshare-popup-height="800"
                  socialshare-popup-width="800"
                  socialshare-display="popup")

            div.details
              span
                //a(facebook class="facebookShare" data-url='http://google.com'data-shares='shares') {{ shares }}
                a(href='#')
                  ng-md-icon(icon="warning")
                  span.bottom-right-md-card(ng-click='articleShow.sendReport()') Send a report






    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="45")
      h2.t-center(flex="15") Description
      md-divider.separator-h2(flex="45")

    div(layout="row" layout-align="center")
      md-card(flex="100")
        md-card-content
          div.description(ng-bind-html='articleShow.article.description')




    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="45")
      h2.t-center(flex="15") Questions
      md-divider.separator-h2(flex="45")

    span test = {{articleShow.questions}}
    hr


    div.question(layout="row" layout-align="center" ng-repeat="question in articleShow.questions track by $index | limitTo: articleShow.paginationLimit()" ng-if="question.visible")
      div(layout="column" )
        div {{question.content}} (Ask by <a href='/profile/{{question.author_name}}'> {{question.author_name}} </a>)
        div
          ng-md-icon(icon="warning" ng-click='articleShow.report(question.id)')
          ng-md-icon(icon="thumb_up" ng-click='articleShow.upVote(question.id)')
          span +{{question.thumbs_up.length}}
        div(flex-offset="10") {{question.response}}
        md-input-container.md-block(ng-if="articleShow.ownArticle && question.response == undefined")
          label You can answer the question here
          textarea(ng-model="articleShow.answers[$index]" md-maxlength="150" rows="5"
          md-select-on-focus)
          md-button.md-raised(ng-click='articleShow.sendAnswer(question.id, articleShow.answers[$index])') Answer the question




    div(layout="row" layout-align="center" class="question-not-available" ng-if="articleShow.ownArticle")
      div(layout="column")
        div.flex You can't ask question on your own article

    div(layout="row" layout-align="center" ng-if="!articleShow.ownArticle")
      div(layout="column")
        md-input-container.md-block
          label(ng-if="articleShow.questions.length === 0") Be the first one to ask something
          label(ng-if="articleShow.questions.length != 0") Please ask your question
          textarea(ng-model="articleShow.askQuestion" md-maxlength="150" rows="5" md-select-on-focus)
          md-button.md-raised(ng-click='articleShow.sendQuestion()') Send question

    div.t-center.submit(ng-show="articleShow.hasMoreItemsToShow()" ng-click="articleShow.showMoreItems()")
      md-button.md-raised Show more







    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="40")
      h2.t-center(flex="20") We Recommend
      md-divider.separator-h2(flex="40")
    div(layout='row' layout-align='center')
      data-owl-carousel.owl-carousel(data-options='{navigation: false, pagination: true, ' +
      'rewindNav : false, loop: true, autoWidth: true, autoplay:true, autoplayTimeout:1000}')
        .item(owl-carousel-item='', ng-repeat='url_picture in articleShow.url_pictures track by $index')
          img(src="{{url_picture}}" style='width:200px; height:auto;')
          div(layout-align="center" layout="row")
            span.bold 12$
