md-card
  md-card-content

    div(layout="row" layout-align="center")
      md-divider.separator-h2(flex="30" hide-sm)
      h2.t-center(flex="30") Your Addresses
      md-divider.separator-h2(flex="30" hide-sm)

    h3(flex-offset="10") Living addresses
      span(ng-if="!profileParams.user.living_address.length")  (0 / 6)
      span(ng-if="profileParams.user.living_address.length")  ({{profileParams.user.living_address.length }} /6)
    md-list.my-layout-xs(flex-offset="10" layout="row")
      md-list-item(
      ng-repeat="livingAddress in profileParams.user.living_address track by $index")
        div(layout="column" ng-if="$index % 2 == 0" layout-align="start start")
          div.top-address
            div(layout="row")
              h4 {{ livingAddress[0] }}
              ng-md-icon(aria-label="delete icon" icon="delete" ng-click="profileParams.deleteAddressDialog($event, livingAddress, 0);").
              ng-md-icon(aria-label="edit icon" icon="mode_edit" ng-click="profileParams.editAddressDialog($event, livingAddress, 0);").
            div {{ livingAddress[1].first_name }} {{ livingAddress[1].last_name }}
            div {{livingAddress[1].address}}
            div(layout="row")
              div {{livingAddress[1].postal_code}}
              div {{livingAddress[1].city}}
          div(ng-if="profileParams.user.living_address[$index + 1]")
            div(layout="row")
              h4 {{profileParams.user.living_address[$index + 1][0]}}
              ng-md-icon(aria-label="delete icon" icon="delete" ng-click="profileParams.deleteAddressDialog($event, livingAddress, 0);").
              ng-md-icon(aria-label="edit icon" icon="mode_edit" ng-click="profileParams.editAddressDialog($event, livingAddress, 0);").
            div {{ livingAddress[1].first_name }} {{ livingAddress[1].last_name }}
            div {{livingAddress[1].address}}
            div(layout="row")
              div {{livingAddress[1].postal_code}}
              div {{livingAddress[1].city}}
          //h4(ng-if="profileParams.user.living_address[$index + 1] && profileParams.user" +".living_address[$index + 1]") {{profileParams.user.living_address[$index + 1][0]}}
          //h4(ng-if="$index % 2 != 0") {{ livingAddress[0] }}


    .add-entity
      md-button.md-fab.md-primary(
      ng-if="profileParams.user.living_address.length < 6 || !profileParams.user.living_address.length"
      ng-click="profileParams.addAddressDialog($event, 0)"
      aria-label="Edit your profileParams")
        ng-md-icon(icon="add")



    h3(flex-offset="10") billing addresses
      span(ng-if="!profileParams.user.billing_address.length")  (0 / 6)
      span(ng-if="profileParams.user.billing_address.length")  ({{profileParams.user.billing_address.length }} /6)
    md-list.my-layout-xs(flex-offset="10" layout="row")
      md-list-item(
      ng-repeat="billingAddress in profileParams.user.billing_address track by $index")
        div(layout="column" ng-if="$index % 2 == 0" layout-align="start start")
          div.top-address
            div(layout="row")
              h4 {{ billingAddress[0] }}
              ng-md-icon(aria-label="delete icon" icon="delete" ng-click="profileParams.deleteAddressDialog($event, billingAddress, 1);").
              ng-md-icon(aria-label="edit icon" icon="mode_edit" ng-click="profileParams.editAddressDialog($event, billingAddress, 1);").

            div {{ billingAddress[1].first_name }} {{ billingAddress[1].last_name }}
            div {{billingAddress[1].address}}
            div(layout="row")
              div {{billingAddress[1].postal_code}}
              div {{billingAddress[1].city}}
          div(ng-if="profileParams.user.billing_address[$index + 1]")
            div(layout="row")
              h4 {{profileParams.user.billing_address[$index + 1][0]}}
              ng-md-icon(aria-label="delete icon" icon="delete" ng-click="profileParams.deleteAddressDialog($event, billingAddress, 1);").
              ng-md-icon(aria-label="edit icon" icon="mode_edit" ng-click="profileParams.editAddressDialog($event, billingAddress, 1);").
            div {{ billingAddress[1].first_name }} {{ billingAddress[1].last_name }}
            div {{billingAddress[1].address}}
            div(layout="row")
              div {{billingAddress[1].postal_code}}
              div {{billingAddress[1].city}}
          //h4(ng-if="profileParams.user.billing_address[$index + 1] && profileParams.user" +".billing_address[$index + 1]") {{profileParams.user.billing_address[$index + 1][0]}}
          //h4(ng-if="$index % 2 != 0") {{ billingAddress[0] }}


    .add-entity
      md-button.md-fab.md-primary(
      ng-if="profileParams.user.billing_address.length < 6 || !profileParams.user.billing_address.length"
      ng-click="profileParams.addAddressDialog($event, 1)"
      aria-label="Edit your profileParams")
        ng-md-icon(icon="add")



