md-card()
  md-card-content
    div.div-separator(layout="row" layout-align="center")
      md-divider.separator-h2(flex="30" hide-sm)
      h2.t-center(flex="30") Change email
      md-divider.separator-h2(flex="30" hide-sm)


    div(layout="row" layout-align="center")
      form(name="modifyProfilFormEmail" novalidate ng-submit="modifyProfilFormEmail.$valid && " +
      "profileParams" +
      ".submitChangeEmail()"
      flex-xs="100" flex-sm="80" flex-md="60" flex="50")
        section(layout="column", layout-align="start center")

          md-input-container.md-icon-float.md-block(layout-fill)
            md-icon(md-svg-src="../assets/icons/register-login/ic_email_black_24px.svg")
            input(placeholder="Email" type="email" minlength="8" maxlength="100" required
            name="email" ng-model="profileParams.user.email" ng-pattern="/^.+@.+\..+$/")
            .body-register-container-md
            div(ng-messages="modifyProfilFormEmail.email.$error" ng-if='!modifyProfilFormEmail.email.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="minlength") The email must be longer than 8 characters.
              div(ng-message="maxlength") The email must be shorter than 100 characters.
              div(ng-message="pattern") The field must be an email.

          md-input-container.md-icon-float.md-block(layout-fill)
            md-icon(md-svg-src="../assets/icons/register-login/ic_repeat_black_24px.svg")
            input(placeholder="Repeat Email" type="email" minlength="8" maxlength="100" required
            name="email_repeat" ng-model="profileParams.user.email_repeat"
            ng-pattern="/^.+@.+\..+$/"
            match="profileParams.user.email").body-register-container-md
            div(ng-messages="modifyProfilFormEmail.email_repeat.$error" ng-if='!modifyProfilFormEmail.email_repeat.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="minlength") The email must be longer than 8 characters.
              div(ng-message="maxlength") The email must be shorter than 100 characters.
              div(ng-message="pattern") The field must be an email.
              div(ng-message="match") Emails must match.


          div.submit-buttons(layout-fill)
            md-button.special-button.md-raised.margin-button-top(type="submit"
            style="width:100%") Send


