md-card()
  md-card-content
    div.div-separator(layout="row" layout-align="center")
      md-divider.separator-h2(flex="30" hide-sm)
      h2.t-center(flex="30") Change password
      md-divider.separator-h2(flex="30" hide-sm)


    div(layout="row" layout-align="center")
      form(name="changePasswordForm" novalidate ng-submit="changePasswordForm.$valid && profileParams" +
      ".submitPassword()"
      flex-xs="100" flex-sm="80" flex-md="60" flex="50")

          md-input-container.md-icon-float.md-block
            md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg")
            input(placeholder="Old password" type="password" required
            name="old_password" ng-model="profileParams.old_password")
            .body-register-container-md
            div(ng-messages="changePasswordForm.old_password.$error" ng-if='!changePasswordForm.old_password.$pristine')
              div(ng-message="required") This is required.

          md-input-container.md-icon-float.md-block
            md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg")
            input(placeholder="New password" type="password" maxlength="30" minlength="6" required
            name="new_password" ng-model="profileParams.new_password")
            .body-register-container-md
            div(ng-messages="changePasswordForm.new_password.$error" ng-if='!changePasswordForm.new_password.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="minlength") The password must be longer than 6 characters.
              div(ng-message="maxlength") The password must be shorter than 30 characters.

          md-input-container.md-icon-float.md-block
            md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg")
            input(placeholder="Confirm new password" type="password" minlength="6" maxlength="30"
            required
            name="confirm_new_password" ng-model="profileParams.confirm_new_password"
            match="profileParams.new_password").body-register-container-md
            div(ng-messages="changePasswordForm.confirm_new_password.$error" ng-if='!changePasswordForm.confirm_new_password.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="minlength") The password must be longer than 6 characters.
              div(ng-message="maxlength") The password must be shorter than 30 characters.
              div(ng-message="match") Passwords must match.


          div.submit-buttons
            md-button.special-button.md-raised.margin-button-top(type="submit"
            style="width:100%") Send


