md-card()
  md-card-content
    div.div-separator(layout="row" layout-align="center")
      md-divider.separator-h2(flex="30" hide-sm)
      h2.t-center(flex="30") {{'CHANGE_PASSWORD' | translate}}
      md-divider.separator-h2(flex="30" hide-sm)


    div(layout="row" layout-align="center")
      form(name="changePasswordForm" novalidate ng-submit="changePasswordForm.$valid && profileParams" +
      ".submitPassword()"
      flex-xs="100" flex-sm="80" flex-md="60" flex="50")

          md-input-container.md-icon-float.md-block
            md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg")
            label(translate) OLD_PASSWORD
            input(type="password" required
            name="old_password" ng-model="profileParams.old_password")
            .body-register-container-md
            div(ng-messages="changePasswordForm.old_password.$error" ng-if='!changePasswordForm.old_password.$pristine')
              div(ng-message="required") {{'THIS_IS_REQUIRED' | translate}}.

          md-input-container.md-icon-float.md-block
            md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg")
            label(translate) NEW_PASSWORD
            input(type="password" maxlength="30" minlength="6" required
            name="new_password" ng-model="profileParams.new_password")
            .body-register-container-md
            div(ng-messages="changePasswordForm.new_password.$error" ng-if='!changePasswordForm.new_password.$pristine')
              div(ng-message="required") {{'THIS_IS_REQUIRED' | translate}}.
              div(ng-message="minlength") {{'PASSWORD_TOO_SHORT' | translate}}.
              div(ng-message="maxlength") {{'PASSWORD_TOO_LONG' | translate}}.

          md-input-container.md-icon-float.md-block
            md-icon(md-svg-src="../assets/icons/register-login/ic_vpn_key_black_24px.svg")
            label(translate) CONFIRM_NEW_PASSWORD
            input(type="password" minlength="6" maxlength="30"
            required
            name="confirm_new_password" ng-model="profileParams.confirm_new_password"
            match="profileParams.new_password").body-register-container-md
            div(ng-messages="changePasswordForm.confirm_new_password.$error" ng-if='!changePasswordForm.confirm_new_password.$pristine')
              div(ng-message="required") {{'THIS_IS_REQUIRED' | translate}}.
              div(ng-message="minlength") {{'PASSWORD_TOO_SHORT' | translate}}.
              div(ng-message="maxlength") {{'PASSWORD_TOO_LONG' | translate}}.
              div(ng-message="match") {{'PASSWORDS_MUST_MATCH' | translate}}.


          div.submit-buttons
            md-button.special-button.md-raised.margin-button-top(type="submit"
            style="width:100%") {{'SEND' | translate}}


