md-card()
  md-card-content
    div.div-separator(layout="row" layout-align="center")
      md-divider.separator-h2(flex="30" hide-sm)
      h2.t-center(flex="30") Basic information
      md-divider.separator-h2(flex="30" hide-sm)


    div(layout="row" layout-align="center")
      form(name="modifyProfilForm" novalidate ng-submit="modifyProfilForm.$valid && profileParams" +
      ".submit()"
      flex-xs="100" flex-sm="80" flex-md="60" flex="50")
        section(layout="column", layout-align="start center")

          md-input-container.md-icon-float.md-block.gender(layout-fill)
            md-icon(ng-if='profileParams.user.gender == "Man"' md-svg-src="../assets/icons/gender-male.svg")
            md-icon(ng-if='profileParams.user.gender == "Woman"' md-svg-src="../assets/icons/gender-female.svg")
            md-icon(ng-if='profileParams.user.gender != "Man" && profileParams.user.gender != "Woman"' md-svg-src="../assets/icons/gender-male-female.svg")
            md-radio-group(ng-model="profileParams.user.gender" name="gender" layout="row"
            required)
              span Man
              md-radio-button(value="Man" class="md-primary" aria-label="man" required)
              span Woman
              md-radio-button(value="Woman" aria-label="woman" required)
            div(class='my-error' ng-show='profileParams.genderError') This is required

          md-input-container.md-icon-float.md-block(layout-fill)
            md-icon(md-svg-src="../assets/icons/profil/account.svg")
            input(placeholder="First name" type='text' name="first_name"
            ng-model="profileParams.user.first_name" required maxlength="30" minlength="5"
            ).body-register-container-md
            div(ng-messages="modifyProfilForm.first_name.$error" ng-if='!modifyProfilForm.first_name.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="minlength") The first name must be longer than 5 characters.
              div(ng-message="maxlength") The first name must be shorter than 20 characters.

          md-input-container.md-icon-float.md-block(layout-fill)
            md-icon(md-svg-src="../assets/icons/profil/account.svg")
            input(placeholder="Last name" type='text' name="last_name"
            ng-model="profileParams.user.last_name" required maxlength="30" minlength="5"
            ).body-register-container-md
            div(ng-messages="modifyProfilForm.last_name.$error" ng-if='!modifyProfilForm.last_name.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="minlength") The last name must be longer than 5 characters.
              div(ng-message="maxlength") The last name must be shorter than 20 characters.

          md-input-container.md-icon-float.md-block(layout-fill)
            md-icon(md-svg-src="../assets/icons/profil/phone.svg")
            input(placeholder="Phone number" type="text" name="phone_number"
            ng-model="profileParams.user.phone" required phone-number-form-validator)
            .body-register-container-md
            div(ng-messages="modifyProfilForm.phone_number.$error" ng-if='!modifyProfilForm.phone_number.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="phoneNumber") Phone number is incorrect

          md-input-container.md-icon-float.md-block(layout-fill)
            md-icon(md-svg-src="../assets/icons/profil/cake-variant.svg")
            input(placeholder="Birthdate" type='text' name="birthdate"
            ng-model="profileParams.user.birthdate" required birthdate-form-validator
            ).body-register-container-md
            div(ng-messages="modifyProfilForm.birthdate.$error" ng-if='!modifyProfilForm.birthdate.$pristine')
              div(ng-message="required") This is required.
              div(ng-message="birthdate") Birthdate should be dd/mm/yyyy


          div.submit-buttons(layout-fill)
            md-button.special-button.md-raised.margin-button-top(type="submit"
            style="width:100%") Send


