md-card()
  md-card-content

    div(layout="row" layout-align="center")
      h1 {{'EDIT_PROFILE' | translate}}

    div.my-layout-xs(layout="row" layout-sm="column" layout-align="space-around start")
      //img(src="../assets/images/users/profile_picture/160281_3_photo_781124_899A08_BD_3.jpg")
      img(ngf-src="profileParams.user.logo_url || 'http://localhost:3000/assets/images/users/profile_picture/unknown-user.png'" ngf-select ng-model="profileParams.user.logo_url" name="logo" ngf-pattern="'image/*'"
      accept="image/*" ngf-max-size="2MB" ngf-min-height="100"
      ngf-resize="{width: 300, height: 300}" style="cursor: pointer;")

      div(layout="column")
        h2.username
          md-icon(ng-if="!profileParams.user.gender" md-svg-src="../assets/icons/gender-male-female" +
          ".svg"
          aria-label="gender-male-female")
          md-icon(ng-if="profileParams.user.gender.indexOf('Woman') > -1" md-svg-src="../assets/icons/gender-female.svg"
          aria-label="gender-female")
          md-icon(ng-if="profileParams.user.gender.indexOf('Man') > -1" md-svg-src="../assets/icons/gender-male.svg"
          aria-label="gender-male")
          | {{profileParams.user.username}}

        div.properties-user
          div
            ng-md-icon(icon="whatshot" size="28")
            span(ng-if="!profileParams.user.last_activity_date") {{'LAST_ACTIVITY' | translate}}: {{'UNKNOWN' | translate}}
            span(ng-if="profileParams.user.last_activity_date") {{'LAST_ACTIVITY' | translate}} {{profileParams.user.last_activity_date}}

          div
            ng-md-icon(icon="insert_emoticon" size="28")
            span {{'SUBSCRIBED' | translate}} {{profileParams.user.registered_date}}




